.top-margin {
  margin-top: 25px;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* google maps directions list items */
.adp-directions {
    width: 100%;
}

.search-form {
    // background-color: rgba(0, 0, 0, 0.55);
    padding: 40px;
    border-radius: 5px;
    max-width: 450px;
    margin: auto;
}

.form-title {
    color: #fff;
    margin: 60px 0 25px 0;
    font-family: Roboto, sans-serif;
}

.card {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-card {
    .card;
    background-color: #56ab2f;
    background-image: linear-gradient(to left, #a8e063, #56ab2f);
    margin-bottom: 0;
}

.content {
  min-height: ~"calc(100vh - 60px)";
  margin-top: 60px;
}

.logo {
  margin: 0 auto 20px auto;
  max-width: 80%;
}

.logo-icon {
  color: rgba(255,255,255,0.3);
  font-size: 100px !important;
  border-bottom: 1px solid rgba(255,255,255,0.3);
}

.logo > p {
  color: rgba(255,255,255,0.3);
}

.weather-card {
    .card;
    max-width: 700px;
    height: 150px;
    margin-top: 20px
}

.weather-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    flex: 1;
}

.weather-location {
    flex: 1 100%;
    margin: 15px 0 0 0;
}

.weather-col {
    flex: 1 1 33.3%;
    align-self: center;
}

.weather-item {
    text-align: left;
}

.weather-temp {
    font-size: 42px;
    text-align: center;
}

.directions-card {
    display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    align-self: center;
}

.directions-container {
    width: 100%;
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
}

.map-container {
    height: 400px;
    width: 100%;
    max-width: 700px;
}
