.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-form {
    background-color: rgba(0, 0, 0, 0.35);
    padding: 15px;
    border-radius: 5px;
}

.form-title {
    color: #fff;
    margin: 5px 0;
}

.card {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.search-card {
    .card;
    height: 450px;
    background-image: url('http://i.imgur.com/8DfeEdo.jpg');
    background-size: cover;
    background-position: center;
}

.weather-card {
    .card;
    max-width: 700px;
    height: 150px;
}

.weather-container {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    flex: 1;
}

.weather-location {
    flex: 1 100%;
}

.weather-col {
    flex: 1 50%;
}

.directions-card {
    display: flex;
    width: 100%;
    max-width: 700px;
    justify-content: center;
    align-self: center;
}

.directions-container {
    width: 100%;
    display: flex;
    max-width: 700px;
    flex-direction: column;
    align-items: center;
}

.map-container {
    height: 400px;
    width: 100%;
    max-width: 700px;

}
